<html ng-app="ToDo">
    <head>
        <title>todo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.js"></script>
    <link rel="stylesheet" href="styles/bootstrap.min.css">
	    
    </head>

<body>
  <div class="container">
  <h1>write something below....</h1>
  <div class="row">
    <div id="list1" class="col-md-6" ng-controller='ToDoListController as list1'>
	
	<div class="todo-wrapper">
      <h2>You've got  <span class="emphasis">  {{count}} </span>things to do</h2> 
	
       <h1>To Do:</h1>
       <form name="frm" ng-submit="list1.addNewItem();" >
       <input type="text" class="form-control" ng-model="list1.newItem" placeholder="New To Do Item" >
	   <button ng-disabled="frm.$invalid">ADD</button>
	   
	   
       </form>
       <br>
       <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in list1.items">
          {{ item.name }}
          <button type="button" class="btn btn-success btn-xs" ng-click="list1.completeToDoItem($index);">Mark as Complete</button>
          <button type="button" class="btn btn-danger btn-xs" ng-click="list1.deleteToDoItem($index);">Delete</button
		  
        </li>
      </ul>
    </div>
</div>
      </div>
  <div class="row">
    <div id="list2" class="col-md-6" ng-controller='CompletedItemsController as list2'>
       <h1>Completed:</h1>
	   
       <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in list2.items">
         	{{ item.name}}
         	<button type="button" class="btn btn-danger btn-xs" ng-click="list2.deleteCompletedItem($index);">Delete</button>
        </li>
      </ul>
	
    </div>
   </div>
  </div>
	
</body>
</html>	
